spring:
  application:
    name: configurator

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/configurator}
    username: ${DB_USER:configurator}
    password: ${DB_PASSWORD:configurator}
    driver-class-name: org.postgresql.Driver

  jooq:
    sql-dialect: POSTGRES

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8080
